body{
    background-color: #333533;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

/* navbar style */

nav{
    display: flex;
    justify-content: space-between;
    background-color: #333533;
    padding-top: 2vh;
    border-bottom-style: solid;
    border-width: 0.5px;
    position: sticky;
    top: 0px;

}

#menu{
    display: block;
}

#hamburger{
    display: none;
}

#hamburgerList{
    display: none;
}

#logo{
    width: 5vw;
    height: 3vh;
    margin-bottom: 3vh;
}

a.navbar{
    color: white;
    text-decoration: none;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
}

a.navbar:hover{
    color: #BA4E26
}

a.navbar:after{
    color: white;
    text-decoration: none;
}

h2{
    margin: 5vh;
}

.testemony{
    width: 40%;
    background-image: url("../assets/arcos.svg");
    background-size: 120%;
    background-position: center;
    color: white;
    margin: 5vh 3vh;
    padding: 1vw;
    border-color: #A8A6A5;
    border-style: solid;
    border-width: 1px;
}

.testemony:hover{
    background-color: #BA4E26;
}

.alumni{
    display: flex;
    flex-direction: row;
}

.image{
    width: 3.5vw;
    height: 4vw;
    margin: 1vh;
    border-radius: 100%;
}

#testemonies{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 2vh;
    border-top-style: solid;
    border-width: 0.5px;
}

a.icons{
    color:#999795;
    font-size: 24px;
    padding: 1vh;
}

a.icons:after{
    color:#999795;
    font-size: 24px;
    padding: 1vh;
}

@media (max-width: 700px){
    .testemony{
        width: 80%;
        background-size: cover;
        padding: 2vh;
    }

    .image{
        width: 30%;
        height: 15%;
    }

    #menu{
        display: none;
    }

    #hamburger{
        display: flex;
    }

    #hamburgerList{
        flex-direction: column;
        background-color: #333533;
        position: absolute;
        right: 0px;
        top: 10vh;
        font-size: x-large;
        width: 100%;
        line-height: 1.4;
    }
}